# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
dist/
lib/
sdist/
wheels/
pip-wheel-metadata/
*.egg
MANIFEST

# PyInstaller
# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
*.cover
*.py,cover
.pytest_cache/

# Django stuff:
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
env/
