{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="The CySuite Platform">
        <meta name="keywords" content="cysuite">
        <meta name="author" content="Gacoka Mbui">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <title>Home</title>
    </head>
    <body>
        <h1>It works!</h1>
        <img src="{% static 'img/success.jpg' %}" alt="Success meme">
    </body>
</html>