{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Free Web tutorials">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="John Doe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <title>Example HTML Page</title>
    </head>
    <body>
        <h1>It works!</h1>
        <img src="{% static 'img/success.jpg' %}" alt="Success meme">
    </body>
</html>